/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  h1 {
    font-size: 9.8rem;
  }
}

/**************************/
/* BELOW 1200px (landscape tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  h2 {
    font-size: 6.2rem;
  }
  h3 {
    font-size: 3rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .about-inner {
    gap: 4.8rem;
  }
  .project {
    gap: 4.8rem;
    margin-bottom: 6.4rem;
  }
  .contact-inner {
    gap: 4.8rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    max-width: 200px;
    height: 45px;
    line-height: 45px;
  }
  .back-to-top:link,
  .back-to-top:visited {
    right: 0.5rem;
    bottom: 0.5rem;
  }
}

/**************************/
/* BELOW 912px (landscape tablets) */
/**************************/
@media (max-width: 57em) {
  html {
    font-size: 50%;
  }
  .btn {
    max-width: 200px;
    height: 45px;
    line-height: 45px;
  }
  .contact-form .half {
    width: 100%;
    margin-left: 0;
    float: none;
    clear: none;
  }
}

/**************************/
/* BELOW 768px (landscape tablets) */
/**************************/
@media (max-width: 48em) {
  h1 {
    font-size: 8.6rem;
  }
  h2 {
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
  }
  h3 {
    margin-bottom: 1.6rem;
  }
  .btn {
    max-width: 200px;
    height: 42px;
    line-height: 42px;
  }
  .about-inner {
    flex-direction: column;
  }
  .project {
    flex-direction: column-reverse;
    margin-bottom: 4.8rem;
  }
  .project-text-box {
    margin-bottom: 4.8rem;
    align-self: flex-start;
  }
  .contact-inner {
    flex-direction: column;
  }
  .contact-form .half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
  }
}

/**************************/
/* BELOW 544px (Large Phones) */
/**************************/
@media (max-width: 34em) {
  h1 {
    font-size: 6.2rem;
  }
  h2 {
    font-size: 4.4rem;
  }
  .gray-text {
    letter-spacing: 2px;
  }
  .btn {
    letter-spacing: 2px;
    max-width: 170px;
    height: 40px;
    line-height: 40px;
  }
  /* MOBILE NAVIGATION */
  .hamburger {
    display: inline-block;
  }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0.98);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .main-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .contact-form .half {
    width: 100%;
    margin-left: 0;
    float: none;
    clear: none;
  }
  .back-to-top span {
    letter-spacing: 2px;
  }
}

/**************************/
/* BELOW 384px (Phones) */
/**************************/
@media (max-width: 24em) {
  h1 {
    font-size: 5rem;
  }
  .btn {
    max-width: 170px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 2px;
  }
  .footer-text {
    font-size: 1.5rem;
  }
}

/**************************/
/* Fixing Safari flexbox gap */
/**************************/
/* .no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}
.no-flexbox-gap .about-inner div:not(:last-child) {
  margin-right: 6.4rem;
}
.no-flexbox-gap .projects div:not(:last-child) {
  margin-right: 6.4rem;
}
.no-flexbox-gap .links a:not(:last-child) {
  margin-right: 1.6rem;
}
.no-flexbox-gap .contact-inner div:not(:last-child) {
  margin-right: 6.4rem;
}
.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}
@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
  .no-flexbox-gap .about-inner div:not(:last-child) {
    margin-right: 4.8rem;
  }
  .no-flexbox-gap .projects div:not(:last-child) {
    margin-right: 4.8rem;
  }
  .no-flexbox-gap .contact-inner div:not(:last-child) {
    margin-right: 4.8rem;
  }
}
@media (max-width: 48em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
  .no-flexbox-gap .about-inner div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
  .no-flexbox-gap .projects div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
  .no-flexbox-gap .contact-inner div:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
} */
